<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes DH</title>
</head>
<body>
    <h1>DH Heroes</h1>
    <nav>
        <ul type ="none">
            <li><a href="/home">Home</a></li>
            <li><a href="/capitan-america">Capitan America</a></li>
            <li><a href="/hulk">Hulk</a></li>
            <li><a href="/ironman">Ironman</a></li>
            <li><a href="/loki">Loki</a></li>
            <li><a href="/scarlet-witch">Scarlet Witch</a></li>
            <li><a href="/spiderman">Spiderman</a></li>
            <li><a href="/thor">Thor</a></li>
         
        </ul>
    </nav>
</body>
</html>